header{
  height: 100px;
  background-color: lightgrey;
}

header div{
  height: 100%;
}

.logo{
  height: 100%;
  display: inline-block;
}

.logo img{
  height: 100%;
  display: inline-block;
}

h1{
  display: inline-block;
}

.altezza{
  height: 400px;
}

.altezza img{
  width: 100%;
}

#prezzo-finale{
font-size: 80px;
}